/* 
COLORS
Dark Purple (rgb(31, 17, 29))
lighter Purple (rgb(63, 32, 73))
Dark Blue (rgb(26, 31, 58))
Gold (#FFD700)
Teal (#00B2A9)
Lavender (#C8A2C8)
Coral (#FF6F61)
Silver (#D3D3D3) */

/*General----------------------------*/

body {
    background-color: rgb(63, 32, 73);
    color: rgb(236, 206, 206);
    font-family: sans-serif;
    font-size: 1rem;
    height: 100vh;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: auto
}

body * {
    width: fit-content;
}

main {
    height: 84%;
    width: 100%;
    overflow: auto;
}

h1 {
    font-size: 2rem;
}

.btn,
.ytube {
    display: block
}

.block {
    background-color: rgb(26, 31, 58);
    padding: 20px;
    border: 1px solid black;
    border-radius: 12px;
    margin: 0;
}

main h2 {
    font-weight: bold;
    font-size: 1.8rem;
    text-decoration: underline;
}

td {
    border: none;
    text-align: center;
}

/*Button---------------------------------------*/

.btn {
    text-transform: uppercase;
    font-size: .7rem;
    padding: 10px;
    background-color: rgb(31, 17, 29);
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    border: 1px solid rgb(104, 102, 102);
    border-radius: 6px;
}

.btn:hover {
    background-color: rgb(112, 59, 148);
}

/*heading--------------------------------------*/

.header {
    width: 100%;
    height: 16%;
    background-color: rgb(31, 17, 29);
    position: sticky;
    top: 0;
    z-index: 3;
}

.header div {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header h1 {
    font-size: 3rem;
}

/*summary--------------------------------------*/

.summary .btn-wrapper {
    height: 20%;
}

.summary .btn {
    position: relative;
    top: 30px;
    background-color: rgb(104, 14, 14);
    border-color: black;
}

.summary .grid {
    display: flex;
    width: 100%;
    height: 80%;
}

.summary .grid>* {
    width: 100%;
}

.summary .grid>*>* {
    margin: auto;
}

.summary h2 {
    margin: 10px auto !important;
}

.summary .block {
    height: 180px;
    width: 60%;
}

.summary table {
    height: 100%;
    width: 100%;
}

.summary tbody * {
    width: 50%;
    font-size: 1.2rem;
}

.summary .wrap {
    width: 100%;
}

/*media queries--------------------------------------*/

@media only screen and (max-width: 600px) {
    .summary .grid {
        flex-direction: column;
    }

    /* .graphs {
        order: 4;
    } */
}

@media only screen and (max-width: 450px) {

    /* .summary .graphs .block {
        width: 80%;
    } */

    .summary .btn {
        top: 5px;
    }

}

/*results--------------------------------------*/

.results-flex {
    display: flex;
    width: 100%;
}

.results-flex>* {
    height: 100%;
}

.results .block {
    width: 550px;
    height: fit-content;
    margin: auto;
}

.results .btn,
h2 {
    margin: 20px auto;
}

/*Result lists--------------------------------------*/

.results .tbody,
.thead {
    display: block;
    width: 100%;
}

.results .tbody {
    max-height: 250px;
    overflow: auto;
}

.results th {
    text-decoration: underline;
    text-align: center;
}

.results td,
th {
    width: 100px;
}

.results .tbody tr {
    display: block;
    margin-top: 5px;
}

/*media queries--------------------------------------*/

@media only screen and (max-width: 600px) {
    .results-flex {
        flex-direction: column;
        height: fit-content;
    }

    .results .block {
        width: 480px;
    }
}

@media only screen and (max-width: 450px) {
    .results .block {
        width: 380px;
    }
}

/*Entry--------------------------------------*/

.entry-flex {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.explain {
    width: 500px;
}

.explain h3 {
    margin-bottom: 3px;
}

.explain p {
    text-align: center;
}

.entry .block h2 {
    margin-bottom: 20px;
}

/*form grid--------------------------------------*/

.form-g {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 140px;
}

.form-g div {
    width: 100%;
    height: 100%;
}

.form-g * * {
    display: block;
    height: 50%;
}

.form-g div label {
    padding: 8px;
}

.form-g input,
select {
    background-color: rgb(41, 47, 88);
    color: rgb(236, 206, 206);
    width: 100%;
    padding: 2px;
    border: 2px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.entry form .btn {
    margin-top: 20px;
    padding: 5px;
}

/*media queries--------------------------------------*/

@media only screen and (max-width: 600px) {

    .explain {
        width: 100%;
    }

    .explain p {
        width: 250px;
    }

    .entry-flex {
        height: fit-content;
        width: 100%;
    }

    .entry-flex>* {
        margin: 20px auto;
    }

    .entry-flex .input {
        width: 100%;
    }

    .entry .block {
        height: fit-content;
        width: 80%;
        margin: 0 auto;
    }

    .input form {
        display: block;
        width: 80%;
    }

    .form-g {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(1, 1fr);
        height: fit-content;
        width: 100%;
    }

}